<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Teresa Engelhard | Front-End Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <script
      src="https://kit.fontawesome.com/836a943e18.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="nav-brand">
            <a href="index.html">
              <img src="/static/images/logo.png" alt="Chaoo" />
            </a>
          </div>
          <div class="burger-menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#landing-page">
                <img
                  src="/static/images/profile-pic.jpg"
                  alt="Teresa Engelhard"
                  class="profile-pic nav-link"
                />
                <span class="caption nav-link">Teresa Engelhard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">Studies</a>
            </li>
            <li class="nav-item">
              <a href="#projects" class="nav-link">Volunteering</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="facebook.com/Mt.Engelhard" target="_blank" class="nav-link">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <div class="cta">
              <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="landing-page" class="landing-page">
        <div class="container">
          <div class="main-message">
            <h2>Teresa Engelhard</h2>
            <h3>{Front-End Web Developer}</h3>
            <p>Html . CSS . JavaScript . Excel VBA . SQL</p>
            <div class="intro-btn">
              <div class="cta">
                <a href="#contact" class="btn">Get In Touch</a>
              </div>
              <div class="cta">
                <a href="#projects" class="btn">My Volunteering Work</a>
              </div>
            </div>
            <div>
              <a href="#about" class="scroll-down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container">
          <div class="about-img">
            <img
              src="/static/images/profile-pic.jpg"
              alt="Teresa Engelhard"
              class="about-pic"
            />
          </div>
          <div class="about-text-box">
            <h2>Hola 👋🏽</h2>
            <p>
              Soy una estudiante de Ingeniería de Negocios de la Escuela Superior de Economía y Negocios (ESEN).
              Como estudiante de tercer año puedo decir que he obtenido mucho conocimiento en el área de programación, 
              como de SQL, HTML, Python, Excel VBA y JavaScript.
            </p>
            <p>
              Responsable, dinámica y proactiva. Me gusta escuchar y ayudar a las personas. 
              Capaz de resolver los problemas de la mejor manera.
            </p>
          </div>
        </div>
        <hr />
      </section>
      <section id="services" class="services">
        <div class="container">
          <div class="title-heading">
            <h2>ESTUDIOS</h2>
          </div>
          <div class="service-tiers">
            <div class="tier-item">
              <i class="fas fa-graduation-cap" aria-hidden="true"></i>
              <h2>Fundación POMA</h2>
              <p>
                [2016 - 2018]
              </p>
            </div>
            <div class="tier-item">
              <i class="fas fa-book-open" aria-hidden="true"></i>
              <h2>Escuela Salesiana María Mazzarello</h2>
              <p>
                [2013 - 2017]
              </p>
            </div>
            <div class="tier-item">
              <i class="fas fa-laptop-code" aria-hidden="true"></i>
              <h2>Escuela Superior de Economía y Negocios</h2>
              <p>
                [2019 - Actualidad]
              </p>
            </div>
          </div>
        </div>
        <hr />
      </section>
      <section id="projects" class="projects">
        <div class="title-heading">
          <h2>VOLUNTARIADOS</h2>
          <p>algunos de mis voluntariados y horas sociales</p>
        </div>
        <div class="project-item">
          <div class="project-img has-margin-right">
            <img src="/static/images/future.jpg" />
          </div>
          <div class="project-description">
            <h2>Future ESEN</h2>
            <p>
              Voluntaria como tutora de Lenguaje y Matemáticas.
              Future es un asociación interna de la ESEN que brinda clases o tutorías a niños
              de escuelas de bajos recursos.
            </p>
          </div>
        </div>

        <div class="project-item">
          <div class="project-description has-margin-right">
            <h2>TECHO, FUSAL y Hábitat</h2>
            <p>
              Colaboré en estas organizaciones sin fines de lucro en El Salvador desarrollando 
              actividades de construcción de casas, siembra de árboles y recolección de fondos.
            </p>
          </div>
          <div class="project-img">
            <img src="/static/images/techo.png" />
          </div>
        </div>

        <div class="project-item">
          <div class="project-img has-margin-right">
            <img src="/static/images/logo_poma.jpg" />
          </div>
          <div class="project-description">
            <h2>¡Supérate! POMA</h2>
            <p>
              Horas sociales llenando registros en la base de datos. 
            </p>
          </div>
        </div>
        <hr />
      </section>
      <section id="contact" class="contact">
        <h2>Get In Touch</h2>
        <p>
          I'd love if you reached out to me. Even if it's just to say "Hey!".
          Don't hesitate! Drop me a line and I’ll get back to you ASAP!
        </p>
        <p>
          <i
            >For gig and advertising opportunities, begin your subject with
            <strong>"Gig"</strong></i
          >
        </p>
        <div class="container">
          <p>
            <a href="mailto:mat.engelhard@gmail.com"
              ><i class="fas fa-envelope-open"></i> mat.engelhard@gmail.com</a
            >
          </p>
          <p>
            <a href="facebook.com/Mt.Engelhard" target="_blank"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
          </p>
        </div>
        <hr />
      </section>
      <footer>
        <div class="footer-nav">
          <a href="#landing-page" class="footer-nav-link">Home</a>
          <a href="#about" class="footer-nav-link">About</a>
          <a href="#services" class="footer-nav-link">Studies</a>
          <a href="projects" class="footer-nav-link">Volunteering</a>
          <a href="#contact" class="footer-nav-link">Contact</a>
        </div>
        <div class="footer-coded-by">
          <p>
            <i class="fas fa-code"></i> with 💙 by Teresa Engelhard &copy; 2021
          </p>
          <p>Built with pure HTML, CSS and JavaScript</p>
        </div>
        <div class="footer-social">
          <a href="facebook.com/Mt.Engelhard" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
      </footer>
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
